/*

	fonts

*/
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("/web/css/fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  src: url("/web/css/fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url("/web/css/fonts/Roboto-Italic.ttf") format("truetype"); }
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("/web/css/fonts/Roboto-Bold.ttf") format("truetype"); }
/*

	colors

*/
.main_color {
  color: #567ca4; }

.main_background {
  background-color: #567ca4; }

/*

scaffolding

*/
body {
  overflow-y: hidden;
  margin: 0;
  font-family: Roboto,Calibri,Helvetica,sans-serif;
  background-color: #cecece;
  background-image: url(/web/images/noise.png), url(/web/images/logo_shadow.png);
  background-repeat: repeat, no-repeat;
  background-size: 10px, contain;
  background-size: 10px, 50%;
  background-position-y: 0, 64px; }

body.welcome {
  background-color: #567ca4 !important;
  box-shadow: inset 0rem 0rem 36rem 4rem rgba(0, 0, 0, 0.16); }

.noisy {
  background-image: url(/web/images/noise.png) !important; }

.welcome_main {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  min-height: 15rem;
  align-items: stretch;
  justify-content: center; }

.welcome_content {
  flex: 1 0 15rem;
  display: flex;
  align-self: center;
  align-items: stretch;
  justify-content: center;
  flex-flow: column; }

.welcome_button_wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
  justify-content: center; }

.welcome_button {
  flex-grow: 0;
  min-width: 17rem;
  padding: 11px 0;
  background-color: #3c5672;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  transition: all 200ms;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 2px;
  box-shadow: inset -2px -2px 0px 2px rgba(0, 0, 0, 0.13); }

.welcome_button:hover {
  background-color: #e7b74f; }

.welcome_button:active {
  -webkit-filter: brightness(0.9);
  box-shadow: inset 2px 2px 0px 2px rgba(0, 0, 0, 0.13);
  padding-top: 13px;
  padding-bottom: 9px; }

logo {
  color: white;
  font-size: 3.1rem;
  font-weight: lighter; }

a {
  cursor: pointer; }

a:not(.welcome_button):not(.button) {
  text-decoration: none;
  color: #4d6f93; }

a:not(.button):not(.welcome_button):hover {
  color: #7695b7; }

a:not(.button):not(.welcome_button):active {
  position: relative;
  top: 1px; }

/*

	main app

*/
#top_bar_wrapper {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0px -6px 15px 7px black; }

#top_bar {
  max-width: 1200px;
  align-self: center;
  background-image: url(/web/images/logo_horizontal.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between; }

#top_bar_userInfo {
  display: flex;
  flex-flow: row;
  align-items: center; }

#top_bar_username {
  margin-right: 4rem;
  max-width: 10rem; }

#top_bar_photo {
  height: 2rem;
  width: 2rem;
  /*border-radius: 1rem;*/
  margin: 0.5rem;
  background-size: contain;
  background-position: center; }

#top_bar_navigation {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start; }

#top_bar_navigationOptions {
  transition: all 200ms;
  opacity: 1;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.38);
  z-index: 100; }

#top_bar_navigationOptions.ng-hide-add {
  opacity: 1.0;
  display: flex !important; }

#top_bar_navigationOptions.ng-hide-add-active {
  opacity: 0; }

#top_bar_navigationOptions.ng-hide-remove {
  opacity: 0;
  display: flex !important; }

#top_bar_navigationOptions.ng-hide-remove-active {
  opacity: 1; }

.navigation_option:hover {
  background-color: #e7b74f;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.31);
  padding-bottom: 8px;
  padding-top: 2px; }

.navigation_option:active {
  background-color: #e1a522;
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.31);
  padding-bottom: 2px;
  padding-top: 8px; }

.navigation_option {
  background-color: gray;
  padding: 5px;
  min-width: 5rem;
  flex-grow: 1;
  cursor: pointer;
  transition: all 200ms;
  color: white !important;
  display: block; }

#top_bar_current_location {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0px 5px 0px 10px;
  box-shadow: inset 0px -4px 0px -1px rgba(0, 0, 0, 0.28);
  transition: all 200ms; }

#top_bar_current_location:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer; }

#top_bar_downArrow {
  font-size: 0.75em;
  margin-left: 1rem; }

/*

	main view

*/
.main_view {
  max-width: 1200px;
  margin: 20px auto;
  min-height: 400px; }

/*

	home

*/
#home_grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%; }

.home_column {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1; }

.home_left_column {
  width: 40%;
  min-width: 20rem; }

.home_right_column {
  width: 60%; }

.card, card {
  background-color: white;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.16);
  flex-grow: 0;
  position: relative;
  transition: all 200ms;
  color: #313131;
  cursor: default; }

.card h1, card h1 {
  font-size: 1.8rem;
  display: inline-block;
  margin: 0;
  font-weight: normal; }
.card h2, card h2 {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0;
  font-weight: normal; }
.card h3, card h3 {
  color: gray;
  font-size: 1.3rem;
  font-weight: normal; }
.card h1.with_emphasis, .card h2.with_emphasis, .card h3.with_emphasis, card h1.with_emphasis, card h2.with_emphasis, card h3.with_emphasis {
  color: gray; }
  .card h1.with_emphasis strong, .card h2.with_emphasis strong, .card h3.with_emphasis strong, card h1.with_emphasis strong, card h2.with_emphasis strong, card h3.with_emphasis strong {
    color: #3c3c3c; }
.card accordion, card accordion {
  display: flex;
  flex-flow: column nowrap;
  width: 100%; }
  .card accordion choise, card accordion choise {
    padding: 10px 2px;
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.15); }
    .card accordion choise name, card accordion choise name {
      font-size: 1.2rem;
      display: block;
      align-self: flex-start;
      cursor: pointer; }
    .card accordion choise content, card accordion choise content {
      display: none; }
  .card accordion choise.active content, card accordion choise.active content {
    display: block; }

.outside_option {
  flex: 15rem; }

.card .secondary, card .secondary {
  opacity: 0;
  transition: all 200ms; }

.card:hover .secondary, card:hover .secondary {
  opacity: 1; }

.card.animate_enter, card.animate_enter {
  animation: card_enter 200ms;
  -webkit-animation: card_enter 200ms;
  -ms-animation: card_enter 200ms;
  -moz-animation: card_enter 200ms;
  -o-animation: card_enter 200ms;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  opacity: 0; }

@-webkit-keyframes card_enter {
  from {
    transform: rotate(-2deg) translatey(29px);
    -webkit-transform: rotate(-2deg) translatey(29px);
    -ms-transform: rotate(-2deg) translatey(29px);
    -moz-transform: rotate(-2deg) translatey(29px);
    -o-transform: rotate(-2deg) translatey(29px);
    opacity: 0; }

  to {
    transform: rotate(0) translatey(0px);
    -webkit-transform: rotate(0) translatey(0px);
    -ms-transform: rotate(0) translatey(0px);
    -moz-transform: rotate(0) translatey(0px);
    -o-transform: rotate(0) translatey(0px);
    opacity: 1; } }
@-webkit-keyframes card_enter {
  from {
    transform: rotate(-2deg) translatey(29px);
    -webkit-transform: rotate(-2deg) translatey(29px);
    -ms-transform: rotate(-2deg) translatey(29px);
    -moz-transform: rotate(-2deg) translatey(29px);
    -o-transform: rotate(-2deg) translatey(29px);
    opacity: 0; }

  to {
    transform: rotate(0) translatey(0px);
    -webkit-transform: rotate(0) translatey(0px);
    -ms-transform: rotate(0) translatey(0px);
    -moz-transform: rotate(0) translatey(0px);
    -o-transform: rotate(0) translatey(0px);
    opacity: 1; } }
.card.ng-enter, .card.ng-hide-remove, card.ng-enter, card.ng-hide-remove {
  transform: rotate(-2deg) translatey(29px) !important;
  -webkit-transform: rotate(-2deg) translatey(29px) !important;
  -ms-transform: rotate(-2deg) translatey(29px) !important;
  -moz-transform: rotate(-2deg) translatey(29px) !important;
  -o-transform: rotate(-2deg) translatey(29px) !important;
  opacity: 0 !important;
  margin-bottom: -100px; }

.card.ng-enter-active, .card.ng-hide-remove-active, card.ng-enter-active, card.ng-hide-remove-active {
  transform: rotate(0) translatey(0px);
  -webkit-transform: rotate(0) translatey(0px);
  -ms-transform: rotate(0) translatey(0px);
  -moz-transform: rotate(0) translatey(0px);
  -o-transform: rotate(0) translatey(0px);
  margin-bottom: -10px;
  opacity: 1; }

.card.ng-enter, .card.ng-hide-add, card.ng-enter, card.ng-hide-add {
  transform: rotate(0) translatey(0px);
  -webkit-transform: rotate(0) translatey(0px);
  -ms-transform: rotate(0) translatey(0px);
  -moz-transform: rotate(0) translatey(0px);
  -o-transform: rotate(0) translatey(0px);
  opacity: 1;
  margin-bottom: 0px;
  display: flex !important; }

.card.ng-enter-active, .card.ng-hide-add-active, card.ng-enter-active, card.ng-hide-add-active {
  transform: rotate(-2deg) translatey(-29px) !important;
  -webkit-transform: rotate(-2deg) translatey(-29px) !important;
  -ms-transform: rotate(-2deg) translatey(-29px) !important;
  -moz-transform: rotate(-2deg) translatey(-29px) !important;
  -o-transform: rotate(-2deg) translatey(-29px) !important;
  opacity: 0 !important;
  margin-bottom: -100px; }

.large_input {
  font-size: 2.2rem;
  padding: 0px 14px;
  width: 100%;
  color: #3c3c3c;
  margin: 24px auto;
  display: block; }

.large_input:focus {
  outline-color: #e7b74f; }

.card .status, card .status {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px 10px;
  margin-bottom: -10px;
  margin-top: 10px;
  color: #e7b74f; }
.card .status.ok, card .status.ok {
  color: white;
  background-color: #567ca4; }
.card .status.error, card .status.error {
  background-color: #e7b74f;
  color: white; }

.score {
  font-size: 2rem;
  color: #81b144;
  font-weight: bold; }

.score.negative {
  color: #ce5664; }

/*

	buttons

*/
.button {
  background-color: #4f7296;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 6px 19px;
  border-radius: 2px;
  box-shadow: inset -1px -2px 0px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  transition: all 200ms; }

.button.large {
  font-size: 1.6rem;
  padding: 14px 33px;
  box-shadow: inset -2px -4px 0px 1px rgba(0, 0, 0, 0.3); }

.button.large:active {
  box-shadow: inset 2px 4px 0px 1px rgba(0, 0, 0, 0.3);
  padding-top: 18px;
  padding-bottom: 10px; }

.button.larger {
  font-size: 1.21rem; }

.button.disabled {
  pointer-events: none;
  -webkit-filter: saturate(0.2) brightness(1.3); }

.button:hover {
  -webkit-filter: brightness(1.1); }

.button:active {
  box-shadow: inset 1px 2px 0px 1px rgba(0, 0, 0, 0.3);
  padding-top: 8px;
  padding-bottom: 4px; }

.button.small {
  font-size: 0.8rem;
  padding: 4px 12px;
  box-shadow: inset -0.5px -1px 0px 1px rgba(0, 0, 0, 0.3); }

.button.small:active {
  box-shadow: inset 0.5px 1px 0px 1px rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  padding-bottom: 3px; }

/*

	sparkline

*/
sparkline path {
  stroke: rgba(86, 124, 164, 0.2);
  stroke-width: 4;
  fill: none; }

sparkline[tiny="true"] path {
  stroke: #567ca4;
  stroke-width: 1;
  fill: none; }

sparkline.full_stroke path {
  stroke: #567ca4 !important; }

/*
	
	pointschart

*/
pointschart .user .line {
  stroke: #567ca4;
  stroke-width: 4;
  fill: none; }

pointschart .x.axis .tick, pointschart path.domain {
  display: none; }

/*

grid

*/
grid {
  display: flex;
  flex-flow: row wrap; }

.column {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1; }

.column_medium {
  width: 40%;
  min-width: 20rem;
  flex-grow: 1; }

.column_large {
  width: 60%;
  min-width: 30rem;
  flex-grow: 1; }

/*

exercises

*/
.list_row {
  text-align: left;
  width: 100%;
  padding: 5px;
  font-size: 1.1rem;
  background-color: white;
  transition: filter 200ms, -webkit-filter 200ms;
  display: flex;
  flex-flow: row;
  justify-content: space-between; }

.list_row.ng-animate {
  transition: all 0ms !important; }

.list_row.even {
  background-color: #f0f0f0; }

.list_row:hover {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  -ms-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  -o-filter: brightness(0.9); }

.list_row sparkline {
  opacity: 0;
  transition: opacity 50ms; }

.list_row:hover sparkline {
  opacity: 1; }

.list_row.active {
  background-color: #567ca4;
  color: white; }

.list_row .secondary {
  opacity: 0 !important; }

.list_row:hover .secondary {
  opacity: 1 !important; }

.exercise_list_row {
  padding: 5px;
  font-size: 1.1rem;
  background-color: white;
  transition: filter 200ms, -webkit-filter 200ms; }

.exercise_list_row td {
  padding: 5px; }

.exercise_list_row.ng-animate {
  transition: all 0ms !important; }

.exercise_list_row.even {
  background-color: #f0f0f0; }

.exercise_list_row:hover {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  -ms-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  -o-filter: brightness(0.9); }

.exercise_list_row sparkline {
  opacity: 0;
  transition: opacity 50ms; }

.exercise_list_row:hover sparkline {
  opacity: 1; }

.exercise_list_row.active {
  background-color: #567ca4;
  color: white; }

.exercise_list_row .secondary {
  opacity: 0 !important; }

.exercise_list_row:hover .secondary {
  opacity: 1 !important; }

.exercise_list_row .secondary_visible {
  opacity: 0.35; }

.exercise_list_row:hover .secondary_visible {
  opacity: 1 !important; }

/*

	table
*/
.historyPreview_row {
  background-color: #e4e4e4;
  border-bottom: 1px solid white; }

.historyPreview_row td {
  padding: 8px 17px; }

.historyPreview_row:hover {
  background-color: #b6b6b6; }

.fake_music_bars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0; }

@keyframes music_bar_jump1 {
  0% {
    height: 0; }

  50% {
    height: 30%; }

  100% {
    height: 0; } }
@-webkit-keyframes music_bar_jump1 {
  0% {
    height: 0; }

  50% {
    height: 30%; }

  100% {
    height: 0; } }
musicbar.animated:nth-child(1) {
  animation-duration: 400ms;
  -webkit-animation-duration: 400ms;
  -ms-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  -o-animation-duration: 400ms;
  animation-name: music_bar_jump1;
  -webkit-animation-name: music_bar_jump1;
  -ms-animation-name: music_bar_jump1;
  -moz-animation-name: music_bar_jump1;
  -o-animation-name: music_bar_jump1;
  left: 0%; }

@keyframes music_bar_jump2 {
  0% {
    height: 0; }

  50% {
    height: 20%; }

  100% {
    height: 0; } }
@-webkit-keyframes music_bar_jump2 {
  0% {
    height: 0; }

  50% {
    height: 20%; }

  100% {
    height: 0; } }
musicbar.animated:nth-child(2) {
  animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-name: music_bar_jump2;
  -webkit-animation-name: music_bar_jump2;
  -ms-animation-name: music_bar_jump2;
  -moz-animation-name: music_bar_jump2;
  -o-animation-name: music_bar_jump2;
  left: 12.5%; }

@keyframes music_bar_jump3 {
  0% {
    height: 0; }

  50% {
    height: 30%; }

  100% {
    height: 0; } }
@-webkit-keyframes music_bar_jump3 {
  0% {
    height: 0; }

  50% {
    height: 30%; }

  100% {
    height: 0; } }
musicbar.animated:nth-child(3) {
  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  -ms-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  animation-name: music_bar_jump3;
  -webkit-animation-name: music_bar_jump3;
  -ms-animation-name: music_bar_jump3;
  -moz-animation-name: music_bar_jump3;
  -o-animation-name: music_bar_jump3;
  left: 25%; }

@keyframes music_bar_jump4 {
  0% {
    height: 0; }

  50% {
    height: 40%; }

  100% {
    height: 0; } }
@-webkit-keyframes music_bar_jump4 {
  0% {
    height: 0; }

  50% {
    height: 40%; }

  100% {
    height: 0; } }
musicbar.animated:nth-child(4) {
  animation-duration: 700ms;
  -webkit-animation-duration: 700ms;
  -ms-animation-duration: 700ms;
  -moz-animation-duration: 700ms;
  -o-animation-duration: 700ms;
  animation-name: music_bar_jump4;
  -webkit-animation-name: music_bar_jump4;
  -ms-animation-name: music_bar_jump4;
  -moz-animation-name: music_bar_jump4;
  -o-animation-name: music_bar_jump4;
  left: 37.5%; }

@keyframes music_bar_jump5 {
  0% {
    height: 0; }

  50% {
    height: 50%; }

  100% {
    height: 0; } }
@-webkit-keyframes music_bar_jump5 {
  0% {
    height: 0; }

  50% {
    height: 50%; }

  100% {
    height: 0; } }
musicbar.animated:nth-child(5) {
  animation-duration: 800ms;
  -webkit-animation-duration: 800ms;
  -ms-animation-duration: 800ms;
  -moz-animation-duration: 800ms;
  -o-animation-duration: 800ms;
  animation-name: music_bar_jump5;
  -webkit-animation-name: music_bar_jump5;
  -ms-animation-name: music_bar_jump5;
  -moz-animation-name: music_bar_jump5;
  -o-animation-name: music_bar_jump5;
  left: 50%; }

@keyframes music_bar_jump6 {
  0% {
    height: 0; }

  50% {
    height: 60%; }

  100% {
    height: 0; } }
@-webkit-keyframes music_bar_jump6 {
  0% {
    height: 0; }

  50% {
    height: 60%; }

  100% {
    height: 0; } }
musicbar.animated:nth-child(6) {
  animation-duration: 900ms;
  -webkit-animation-duration: 900ms;
  -ms-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  -o-animation-duration: 900ms;
  animation-name: music_bar_jump6;
  -webkit-animation-name: music_bar_jump6;
  -ms-animation-name: music_bar_jump6;
  -moz-animation-name: music_bar_jump6;
  -o-animation-name: music_bar_jump6;
  left: 62.5%; }

@keyframes music_bar_jump7 {
  0% {
    height: 0; }

  50% {
    height: 70%; }

  100% {
    height: 0; } }
@-webkit-keyframes music_bar_jump7 {
  0% {
    height: 0; }

  50% {
    height: 70%; }

  100% {
    height: 0; } }
musicbar.animated:nth-child(7) {
  animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -ms-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-name: music_bar_jump7;
  -webkit-animation-name: music_bar_jump7;
  -ms-animation-name: music_bar_jump7;
  -moz-animation-name: music_bar_jump7;
  -o-animation-name: music_bar_jump7;
  left: 75%; }

@keyframes music_bar_jump8 {
  0% {
    height: 0; }

  50% {
    height: 80%; }

  100% {
    height: 0; } }
@-webkit-keyframes music_bar_jump8 {
  0% {
    height: 0; }

  50% {
    height: 80%; }

  100% {
    height: 0; } }
musicbar.animated:nth-child(8) {
  animation-duration: 1100ms;
  -webkit-animation-duration: 1100ms;
  -ms-animation-duration: 1100ms;
  -moz-animation-duration: 1100ms;
  -o-animation-duration: 1100ms;
  animation-name: music_bar_jump8;
  -webkit-animation-name: music_bar_jump8;
  -ms-animation-name: music_bar_jump8;
  -moz-animation-name: music_bar_jump8;
  -o-animation-name: music_bar_jump8;
  left: 87.5%; }

musicbar {
  display: inline-block;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-timing-function: easeInElastic;
  -webkit-animation-timing-function: easeInElastic;
  -ms-animation-timing-function: easeInElastic;
  -moz-animation-timing-function: easeInElastic;
  -o-animation-timing-function: easeInElastic;
  width: 12.5%;
  background-color: rgba(86, 124, 164, 0.6);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  bottom: 0px;
  position: absolute;
  transition: all 200ms;
  height: 0;
  z-index: 0; }

/*

	metronome

*/
@keyframes metronome {
  0% {
    transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg); }

  50% {
    transform: rotateZ(30deg);
    -webkit-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg); }

  100% {
    transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg); } }
@-webkit-keyframes metronome {
  0% {
    transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg); }

  50% {
    transform: rotateZ(30deg);
    -webkit-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg); }

  100% {
    transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg); } }
#metronome_arrow {
  transform-origin-y: 100px;
  -webkit-transform-origin-y: 100px;
  -ms-transform-origin-y: 100px;
  -moz-transform-origin-y: 100px;
  -o-transform-origin-y: 100px;
  width: 10px;
  height: 100px;
  background-color: #567ca4;
  position: absolute;
  bottom: -10px;
  left: 50%; }

#metronome_arrow.animated {
  animation-name: metronome;
  -webkit-animation-name: metronome;
  -ms-animation-name: metronome;
  -moz-animation-name: metronome;
  -o-animation-name: metronome;
  animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  -ms-animation-duration: 2000ms;
  -moz-animation-duration: 2000ms;
  -o-animation-duration: 2000ms;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite; }
